body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

button {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background: #f0f0f0;
}
